<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab placeat eveniet exercitationem temporibus itaque
            libero, molestiae aperiam atque. Aspernatur est tenetur ut eum aperiam, eius minus, a laudantium consectetur
            in iste enim maxime voluptatum doloremque magni ipsum illo officia beatae esse eos aliquid fugiat earum sint
            molestiae? Assumenda, consequatur voluptatibus?</p>
    </div>

    {{>footer}}
</body>


</html>